* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background: linear-gradient(260deg, #6a9eec, #65c0d3);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.container{
    background-color: white;
    color: black;
    padding: 5rem;
    border-radius: 2rem;
    .home-svg{
        cursor: pointer;
    }
    .home,.notification,.message{
        display: flex;
        padding: 2rem;

        .home-title,.notification-title,.message-title{
            padding-left: 2rem; 
        }
    }
}

